<br>
  <div class="container">
    <h3 class="text-center">Meu bolo personalizado</h3>
    <div class="text-center">
    <% IngredientCategory.all.each do |category|%>
    <h5><%= category.name %></h5>

      <% @cake.ingredients.where(ingredient_category: category).each do |ingredient| %>
        <p><%= ingredient.name %></p>
      <% end %>
    <% end %>
  </div>

    <div class="row">
      <div class="button-box">
      <% if policy(@cake).edit? %>
          <%= link_to raw('<button type="button" class="btn btn-primary btn-chocolate-color">Mudei de ideia</button>'), edit_cake_path(@cake) %>
        <% end %>
      </div>
    </div>
  </div>
<br>
