<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/NicoEym/rails-la-docura"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/ladocura.art/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">

  </div>
</div>
