<br>
  <div class="container">
    <div class="row">
      <div class="button-box">
        <% if policy(@standard_cake).new? %>
          <%= link_to raw('<button type="button" class="btn btn-primary">Criar um novo bolo</button>'), new_standard_cake_path(@standard_cake) %>
        <% end %>
      </div>
    </div>

  <%= render 'shared/cardstandardcakes', standard_cake: @standard_cakes %>
  </div>
<br>
