<br>
  <div class="container">
  <% @customized_cake.ingredients.each do |ingredient| %>
    <p><%= ingredient.name %></p>
  <% end %>
    <div class="row">
      <div class="button-box">
      <% if policy(@customized_cake).edit? %>
          <%= link_to raw('<button type="button" class="btn btn-primary">Mudei de ideia</button>'), edit_customized_cake_path(@customized_cake) %>
        <% end %>
      </div>
    </div>
  </div>
<br>
