.btn-outline {
  background-color: #E36278;
  opacity: 0.7;
  border: 1px solid #FFFFFC;
  padding: 0.8em;
  color: #FFFFFC;
  border-radius: 7px;
  text-align: center;
  font-size: 1.3em;
  width: 100%;
  &:hover {
    background-color: #E36278;
    opacity: 0.6;
    color: #FFFFFC;
    border: 1px solid #FFFFFC;
    text-decoration: none;
  }
}


.button-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em;
}
