.navbar-lewagon {
  justify-content: space-between;
  background: #e36278;
  font-size: 1.2rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}
